<% if name.errors.any? %>
  <div class="alert alert-error">
    <h5>There were some errors</h5>
    <ul>
      <% name.errors.full_messages.each do |error| %>
        <li>
          <%= error %>
        </li> 
      <% end %>
    </ul>
  </div>

<% end %>